services:
  database:
    image: 'postgres:17-alpine'
    restart: unless-stopped
    environment:
      POSTGRES_USER: directus
      POSTGRES_PASSWORD: '${DB_PASSWORD}'
      POSTGRES_DB: directus
    volumes:
      - 'db_data:/var/lib/postgresql/data'
  directus:
    image: 'directus/directus:11.12.0'
    restart: unless-stopped
    environment:
      KEY: '${KEY}'
      SECRET: '${SECRET}'
      ADMIN_EMAIL: '${ADMIN_EMAIL}'
      ADMIN_PASSWORD: '${ADMIN_PASSWORD}'
      DB_CLIENT: pg
      DB_HOST: database
      DB_PORT: 5432
      DB_DATABASE: directus
      DB_USER: directus
      DB_PASSWORD: '${DB_PASSWORD}'
      WEBSOCKETS_ENABLED: 'true'
      LOG_LEVEL: info
      PUBLIC_URL: '${PUBLIC_URL}'
      PORT: 8055
      CORS_ENABLED: true
      CORS_ORIGIN: 'http://localhost:3000,https://ppgadmin.themainhost.co.uk'
    volumes:
      - 'directus_uploads:/directus/uploads'
      - 'directus_extensions:/directus/extensions'
      - './directus_schema.yaml:/directus/schema.yaml'
    depends_on:
      - database
volumes:
  db_data: null
  directus_uploads: null
  directus_extensions: null
